{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta  pr>
    <title>Facebook - Log In or Sign Up</title>
    <link rel="shortcut icon" href="https://www.facebook.com/images/fb_icon_325x325.png" type="image/x-icon">
</head>
<body>
    <div style="background-color:#e9ebf0;height: 615px;width: 1350px;">
        <table>
            <tr aria-colspan="2">
                <div style="height: 120px;"></div>
            </tr>
            <tr>
                <td style="width: 750px;font-family: Arial, Helvetica, sans-serif;">
                    <div  style="margin-left: 150px;margin-right: 100px;">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" weight="100px" alt="Facebook">
                        <p style="font-size: 28px;padding-left: 25px;">hi...Connect with friends and the world around you on Facebook.</p>
                    </div>
                </td>
                <td cellpadding="0">
                    <div   style="  background-color: white;  height: 350px;width: 390px; border-radius: 10px;box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);">
                        <form action="" style="padding: 20px;">
                            <center>
                                <input type="text" name="username" id="username_id" placeholder="  Email or Phone number" size="45px" style="height: 50px;border-radius: 10px;border-color: rgb(207,207,207);">
                                <br><br>
                                <input type="password" name="" id="password_id" placeholder="  Password" size="45px" style="height: 50px;border-radius: 10px;border-color: rgb(207, 207, 207);border;">
                                <br><br>
                                <input type="button" value="Log In" style="font-size: 20px; background-color: #166fe5;color: #fff;border-color:#166fe5;border-radius: 10px;width: 350px;height: 50px;">
                                <br><br>
                                <hr style="color: rgb(207, 207, 207);background-color: rgb(207,207,207);border-width: 1;">
                                <a style="text-decoration: none;font-family: Arial, Helvetica, sans-serif;color: #166fe5;" href="">Forgot password?</a>
                                <br><br>
                                
                                <button style="font-size:20px; background-color:rgb(20, 180, 20);color: #fff;border-radius: 10px;border-color:rgb(20, 180, 20) ; width: 200px;height: 50px;">Create new account</button>
                            </center>
                        </form>
                    </div>
                    <p style="color: #1c1e21;font-size: 14px;font-family: Arial, Helvetica, sans-serif;text-align: center;"><b> Create a Page</b> for a celebrity, brand or business.</p>
                </td>
            </tr>
        </table>
    </div>
   
</body>
</html>